.painel {
    background-color: #0fb4b9;
    border-radius: 15px;
    width: 60px;
    height: 100px;
}

.painel .h2 {
    color: #003d38;
    font-size: 14px;
    text-align: center;
}

.painel .p {
    color: #001068;
    font-size: 11px;
    text-align: center;
}